/*
Theme Name: 
Theme URI: 
Description: 
Author: factor1
Author URI: http://factor1studios.com/
Version:

*/


/*------------------------------------*\
    Sass Settings
\*------------------------------------*/


/*------------------------------------*\
    Global Settings
\*------------------------------------*/

html, body {
border:0;
margin:0;
padding:0;
width: 100%;
height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
font:100%/1.25 arial, helvetica, sans-serif;
min-height: 100%;
 overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

/* Set box sizing to elimate math in the padding */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/***** Common Formatting *****/

h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
font-weight:normal;
}

h1 {
padding:30px 0 25px 0;
font:2em arial, helvetica, sans-serif;
}

h2 {
padding:20px 0;
font:1.5em arial, helvetica, sans-serif;
}

h3 {
font:1em arial, helvetica, sans-serif;
font-weight:bold;
}

p, ul, ol {
margin:0;
padding:0 0 18px 0;
}

ul, ol {
list-style:none;
padding:0 0 18px 40px;
}

article ul,
article ol {margin: 0 0 10px 20px;}

article ul li {list-style: square; margin: 0 0 5px 5px; padding-left: 5px;}
article ol li {list-style: decimal; margin: 0 0 5px 5px; padding-left: 5px;}

[class*="block-grid-"]>li{ //fix margins on block grids inside of articles
margin: 0;
}
[class*="block-grid-"]{
margin: 0;
}

blockquote {
margin:22px 40px;
padding:0;
}

small {
font-size:0.85em;
}

img {
border:0;
}

sup {
position:relative;
bottom:0.3em;
vertical-align:baseline;
}

sub {
position:relative;
bottom:-0.2em;
vertical-align:baseline;
}

acronym, abbr {
cursor:help;
letter-spacing:1px;
border-bottom:1px dashed;
}

/***** Links *****/

a, a:visited {
text-decoration:none;
}

/***** Forms *****/

form {
margin:0;
padding:0;
display:inline;
}

input, select, textarea {
font:1em arial, helvetica, sans-serif;
}

textarea {
line-height:1.25;
}

label {
cursor:pointer;
}

/***** Tables *****/

table {
border:0;
margin:0 0 18px 0;
padding:0;
}

	table tr td {
	padding:2px;
	}

/***** Fluid Iframes *****/

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

/***** Utility Classes *****/

.clear 			{ clear:both; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.float-left 	{ float:left; }
.float-right 	{ float:right; }


.img-left, .alignleft 			{ float:left;margin:4px 10px 4px 0; }
.img-right, .alignright 		{ float:right;margin:4px 0 4px 10px; }



/*------------------------------------*\
    HEADER
\*------------------------------------*/

header {}

/*------------------------------------*\
    NAVIGATION
\*------------------------------------*/

header nav {}

/*------------------------------------*\
    HOME
\*------------------------------------*/

/*------------------------------------*\
    PAGES
\*------------------------------------*/

/*------------------------------------*\
    SUB PAGES / SPECIFIC PAGES
\*------------------------------------*/

/*------------------------------------*\
    BLOG / NEWS POSTS
\*------------------------------------*/

/*------------------------------------*\
    FOOTER
\*------------------------------------*/

footer {}
